/* logo ***********************/
.logo {
	display: inline-block;
	color: @c-white;
	font-weight: 700;
	font-family: @ff-r-c;
	font-size: 24px;
	text-transform: uppercase;
	transition: @tr-base;
	line-height: 1;

	&:hover {
		text-decoration: none;
		opacity: 0.8;
		color: @c-white;
	}
}
